*{box-sizing:border-box;
}
body{
        margin: 0;
        background: rgb(70, 72, 73);
}
nav{
        background: rgb(70, 72, 73);
         width: 100%;
        overflow: auto;
}

ul{
        margin: 0;
        padding: 0;
        list-style: none;
}


.container .heading h3{
        font-size: 3em;
        font-weight: bolder;
        padding-bottom: 10px;
        border-bottom: 3px solid #222;
}
     
.container .heading h3 span{
        font-weight: 100;
}
    
    
nav a:hover{
        background: rgb(70, 72, 73);
        color: black;
}
.container{
        max-width: 1200px;
        margin: auto;
        background: f2f2f2;
        overflow: auto;
}
.gallery{
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 390px;
}
.gallery img{
        width: 100%;
        height: auto;
}

   
